{% extends "base.html" %}

{% block title %}Add Movie{% endblock %}

{% block heading %}Add Movie{% endblock %}

{% block paragraph %}Add your favourite movie to the collection{% endblock %}


{% block content %}
<div class="container">
    <form method="POST" action="{{url_for('views.add')}}" novalidate class="needs-validation">
    {{ form.hidden_tag() }}
    
    <div class="form-group mb-3 position-relative">
        {{ form.title.label(class="fw-bold mb-1") }}
        {{ form.title(class="form-control form-control-sm w-50", id="movieInput") }}
        {% for error in form.title.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        <ul 
            id="suggestions" 
            class="list-group position-absolute" 
            style="width: 100%; z-index: 1000; max-height: 200px; overflow-y: auto; display: none;">
        </ul>
    </div>    

    <div class="form-group mb-3">
        {{ form.review.label(class="fw-bold mb-1") }}
        {{ form.review(class="form-control form-control-sm w-50") }}
        {% for error in form.review.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group mb-3">
        {{ form.ranking.label(class="fw-bold mb-1") }}
        {{ form.ranking(class="form-control form-control-sm w-50") }}
        {% for error in form.ranking.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>  

    {{ form.add(class="btn btn-primary mt-3") }}
    <a href="{{ url_for('views.home') }}" class="btn btn-secondary mt-3 ms-3">Back</a>
    </form>
</div>
{% endblock %}