{% extends "base.html" %}


{% block title %}Edit Movies{% endblock %}

{% block heading %}{{movie.title}}{% endblock %}

{% block paragraph %}Yor can edit the Rank, Review or both of the movie '{{movie.titles}}'{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="{{url_for('views.edit', id=movie['id'])}}" novalidate class="needs-validation">
    {{ form.hidden_tag() }}
    
    <div class="form-group mb-3">
        {{ form.review.label(class="fw-bold mb-1") }}
        {{ form.review(class="form-control form-control-sm w-50") }}
        {% for error in form.review.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group mb-3">
        {{ form.ranking.label(class="fw-bold mb-1") }}
        {{ form.ranking(class="form-control form-control-sm w-50") }}
        {% for error in form.ranking.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>  

    {{ form.edit(class="btn btn-lg btn-success mt-3") }}
    <a href="{{ url_for('views.home') }}" class="btn btn-lg btn-secondary">Back</a>
    </form>
    
</div>
{% endblock %}