{% extends "base.html" %}

{% block title %}Movies Collection{% endblock %}

{% block heading %}Movies Collection{% endblock %}

{% block paragraph %}Your collection of Movies. Click Add Movie to add more movies.{% endblock %}

{% block content %}
  {% if not top_10_movies and not all_movies %}
  <div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                  Collection Is Empty!</h1>
                <h2>
                    Nothing to show</h2>
                <div class="error-details">
                    Click Add Movies to add movies to your collection
                </div>
            </div>
        </div>
    </div>
  </div>

  {% else %}
  <div class="container">
    {% for movie in top_10_movies %}
    <div class="card card-top-10" >
      <div class="front" style="background-image: url('{{movie['img_url']}}');">
          <p class="large">{{movie["rank"]}}</p>
      </div>
      <div class="back">
        <div>
      <div class="title">{{movie["title"]}} <span class="release_date">({{movie["year"]}})</span></div>
          <div class="rating">
              <label>{{movie["rating"]}}</label>
            <i class="fas fa-star star"></i>
          </div>
            <p class="review">"{{movie["review"]}}"</p>
          <p class="overview">
            {{movie["description"]}}
          </p>
          <a href="{{url_for('views.edit', id=movie['id'], table='top_10_movies')}}" class="button">Update</a>
          <a href="{{url_for('views.delete', id=movie['id'], table='top_10_movies')}}" class="button delete-button">Remove</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="container text-center">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
        {% for movie in all_movies %}
        <div class="col">
            <div class="movie-container px-0 mx-0">
                <img src="{{movie['img_url']}}" alt="{{movie['title']}}" class="img-fluid">
                <div class="content-body">
                    <div class="title">{{movie["title"]}} <span class="release_date">({{movie["year"]}})</span></div>
                    <div class="rating">
                        <label>{{movie["rating"]}}</label>
                        <i class="fas fa-star star"></i>
                    </div>
                    <p class="review">"{{movie["review"]}}"</p>
                    <a href="{{url_for('views.delete', id=movie['id'], table='all_movies')}}" class="btn btn-sm btn-rounded btn-danger">Remove</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
 
  {% endif %}

  <div class="container text-center add custom-css-add-botton">
    <a href="{{url_for('views.add')}}" class="button">Add Content</a>
  </div>
{% endblock %}
